.Customer-wrapper {
  display: flex;
  align-items: center;
  align-content: space-between;
  background-color: white;
  border-radius: 5px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  padding: 0 2%;
  margin-bottom: 1rem;
  width: 100%;
  min-height: 6rem;
}

.Customer-info-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 95%;
}

.Customer-name {
  color: rgba(56, 104, 165, 1.0);
  margin: 1.5rem 1.5rem 0 0;
  font-size: 2rem;
  text-shadow: 1px 1px 1px rgba(56, 104, 165, .15);
}

.Customer-company {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  margin: 1rem 0 1.5rem 0;
}

.Customer-company-fallback {
  color: rgba(56, 104, 165, 1.0);
  margin: 1.5rem 0;
  font-size: 2rem;
  text-shadow: 1px 1px 1px rgba(56, 104, 165, .15);
}

.Customer-expand-arrow {
  font-size: 1.75rem;
  color: rgba(0, 0, 0, 0.7);
}

.Modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.Modal-title {
  padding: 1.5rem;
}

.Modal-close {
  color: rgba(91, 125, 255, 1.0);
  cursor: pointer;
}
